.form{
  border:2px solid steelblue;
  border-radius: 5px;
  width: 300px;
  height:300px;
  margin:300px 500px;
  background-color: linen;
}

Form{
  padding:20px;
}

.users-table{
  margin: 30px 400px;
}
.action{
  margin-left:100px;
  width: 200px;
}

.side-navigation{
  border: 2px solid steelblue;
  margin: 20px 30px;
  width:300px;
  height: 400px;
  float: left;
  border-radius: 5px;
}

.top-navigation{
  height: 100px;
  background-color: purple;
  color: white;
}